body {
  margin: 0;
  background-color: #F2F6FA;
  font-family: 'Titillium Web', sans-serif;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

.loading {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
