.container {
  z-index: 1000;
  position: absolute;
  top: 66.531;
  bottom: 0;
  background-color: rgb(59, 68, 77);
}

.leftNavTable {
  user-select: none;
}

.item {
  height: 100px;
  display: table;
  width: 100px;
  color: #808D92;
  border-bottom: 1px solid #464F58;
}

.item:hover {
  background-color: #2E3741;
  color: #FFF;
}

.option {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  color: inherit;
  font-size: 13px;
  font-weight: 100;
}
